* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
}

.page_1,
.page_2 {
  width: 2%;
  height: 50px;
  display: inline-block;
  margin-left: 10px;
}

/* header */

.window {
  height: 25px;
  width: 100%;
  margin: auto;
  background-color: #e0e1e0;
  display: flex;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 5px;
}

.meeting {
  padding-left: 550px;
  padding-top: 2px;
}

.red {
  background-color: #fc605c;
  border: 2px solid #de4846;
}

.yellow {
  background-color: #fdbc40;
  border: 2px solid #dea02d;
}

.green {
  background-color: #33c749;
  border: 2px solid #21aa35;
}

.zoom {
  display: flex;
}

.rectangle {
  display: flex;
  width: 100px;
  height: 20px;
  background-color: #a5a5a5;
  border: 5px solid white;
  margin-left: 10px;
}

/* main */

.menu {
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.speaker_view {
  padding: 0.5rem;
  background-image: linear-gradient(rgb(68, 68, 68), rgb(27, 27, 27));
  border-radius: 5px;
  margin-right: 5px;
}

.espandi_frecce {
  padding: 0.5rem;
  background-image: linear-gradient(rgb(68, 68, 68), rgb(27, 27, 27));
  border-radius: 10%;
}

.play {
  color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.contenuto {
  display: inline-block;
  padding-bottom: 50px;
  width: 94%;
  display: inline-block;
}

.griglia {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  padding-left: 70px;
  /* width: 1300px;
  margin: auto; */
}

.container {
  position: relative;
  padding-right: 5px;
  padding-top: 5px;
}

.microfono {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 5px;
  display: flex;
}

.opacity {
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.432);
}

.slash {
  position: absolute;
  left: 0;
  transform: rotateY(180deg);
  color: red;
}

.name {
  padding-left: 0.5rem;
}

/* footer */

.end_meeting {
  height: 80px;
  background-color: #232427;
  display: flex;

  /* justify-content: space-between; */
  color: white;
}

.mute {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.users {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.fa-chevron-up {
  flex-direction: column;
  align-self: center;
}

.video {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.icons {
  display: flex;
  align-self: center;
}
