* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

/* header */

.window {
  height: 25px;
  width: 100%;
  margin: auto;
  background-color: #e0e1e0;
  display: flex;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 5px;
  justify-content: flex-start;
}

.red {
  background-color: #fc605c;
  border: 2px solid #de4846;
}

.yellow {
  background-color: #fdbc40;
  border: 2px solid #dea02d;
}

.green {
  background-color: #33c749;
  border: 2px solid #21aa35;
}

.zoom {
  align-self: center;
  margin-left: 500px;
}

/* main */

.griglia {
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  margin: auto;
}

.container {
  position: relative;
  padding-right: 5px;
  padding-top: 5px;
}

.microfono {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 5px;
  display: flex;
}

.opacity {
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.432);
}

.slash {
  position: absolute;
  left: 0;
  transform: rotateY(180deg);
  color: red;
}

.name {
  padding-left: 0.5rem;
}

/* footer */

.end_meeting {
  height: 80px;
  background-color: #232427;
  display: flex;
  justify-content: space-between;
  color: white;
}
