* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

main {
  width: 100%;
}

/* header */

.window {
  height: 25px;
  width: 100%;
  margin: auto;
  background-color: #d6d6d6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
}

.pulsanti {
  display: flex;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 5px;
}

.meeting {
  display: flex;
  align-self: center;
}

.zoom {
  display: flex;
}

.item {
  width: 40%;
}

.red {
  background-color: #fc605c;
  border: 2px solid #de4846;
}

.yellow {
  background-color: #fdbc40;
  border: 2px solid #dea02d;
}

.green {
  background-color: #33c749;
  border: 2px solid #21aa35;
}

.rectangle {
  display: flex;
  width: 100px;
  height: 20px;
  background-color: #a5a5a5;
  border: 5px solid white;
  margin-left: 10px;
}

/* main */

main {
  background-color: black;
}

.menu {
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.speaker_view {
  padding: 0.5rem;
  background-image: linear-gradient(rgb(68, 68, 68), rgb(27, 27, 27));
  border-radius: 5px;
  margin-right: 5px;
}

.espandi_frecce {
  padding: 0.5rem;
  background-image: linear-gradient(rgb(68, 68, 68), rgb(27, 27, 27));
  border-radius: 10%;
}

.cont {
  /* background-color: burlywood; */
  width: 100%;
  padding-bottom: 2rem;
  /* height: 100vh; */
  /* border: 5px solid red; */
  display: flex;
}

.item1 {
  width: 10%;
  /* background-color: salmon;
  border: 2px solid seagreen; */
  display: flex;
}

.due {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quadro {
  padding-right: 0.5rem;
  padding-top: 0.5rem;

  /*  height: 10%; */
}

.uno,
.tre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gray {
  color: #7f7f7f;
  transform: rotateY(180deg);
}

.azure {
  color: #39bbfc;
}

.page {
  color: white;
  padding-top: 0.5rem;
}

.container {
  position: relative;
}

.quad_y {
  border: 3px solid yellow;
}

.microfono {
  color: white;
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: flex;
}

.opacity {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 150px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.432);
}

.surname {
  position: absolute;
  bottom: 0;
  width: 220px;
}

.slash {
  position: absolute;
  left: 0;
  transform: rotateY(180deg);
  color: red;
}

.name {
  padding-left: 0.5rem;
}

/* footer */

.cont_1 {
  background-color: #232427;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.item_2 {
  width: 30%;
  color: white;
  text-align: center;
}

.icon_group_2 {
  flex-basis: 90%;
  flex-grow: 1;
  flex-shrink: 1;
}

.icon_group_1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}

.icon_group_2 {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}

.micro {
  padding-left: 1rem;
  align-items: center;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-users {
  justify-content: center;
}

span {
  align-self: flex-start;
}

.fa-share-square {
  color: #51c623;
}

.icon_group_3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.end_meeting {
  background-color: #4a4b4d;
  color: #ee5550;
  padding: 1.7rem;
}
